@model Equipe

<link rel="stylesheet" href="~/css/Equipe.css">

@{
    ViewData["Title"] = "Equipe";
}

<!-- MAIN -->
<main>
    <section class="container-grid cadastro-equipes">
    <span>@TempData.Peek("Message")</span>
        @if (ViewBag.UserName == null)
        {
            <h1>Usuario nao Logado!</h1>
            <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
                Logar
            </a>
        }
        else
        {
                <form class="frm-cad-equipe" method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                    <div class="cadequipe-titulo">
                        <h1>Cadastro de Equipes</h1>
                        <hr>
                    </div>

                    <input class="campo-entrada" type="text" name="Nome" placeholder="Digite o nome da sua equipe:" required>


                    <label class="foto" for="foto-file">
                        Nenhuma imagem selecionada...
                        <input type="file" id="foto-file" name="Imagem">
                    </label>

                    <button type="submit">Cadastrar</button>

                </form>


                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Foto</th>
                            <th>&spades;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Equipe equipe in ViewBag.Equipe)
                        {
                            <tr>
                                <td>@equipe.IdEquipe</td>
                                <td>@equipe.Nome</td>
                                <td>
                                    <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Equipe" asp-action="Excluir"
                                        asp-route-id="@equipe.IdEquipe"> 
                                        <img class="yellow-trash" src="~/assets/trash.png" alt="">
                                    </a>

                                    <a asp-area="" asp-controller="Equipe" asp-action="Editar"
                                        asp-route-id="@equipe.IdEquipe">
                                        <img class="edit-trash" src="~/assets/edit-amarelo.png" alt="">
                                    </a>
                                </td> 
                            </tr>
                        }

                    </tbody>
                </table>
        }

    </section>
</main>




