@model Jogador

<link rel="stylesheet" href="~/css/Jogadores.css">

@{
    ViewData["Title"] = "Edit";
}

<main>
    <section class="container-grid cadastro-equipes">
        <span>@TempData.Peek("Message")</span>
        @if (ViewBag.UserName == null)
        {
            <h1>Usuario nao Logado!</h1>
            <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
                Logar
            </a>
        }
        else
        {
            <form class="frm-cad-equipe" method="post" action='@Url.Action("Atualizar")'>
                <div class="cadequipe-titulo">
                    <h1>Edicao de Equipes</h1>
                    <hr>
                </div>

                <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

                <input class="campo-entrada" type="text" name="Nome" value="@ViewBag.Jogador.Nome">

                <input class="campo-entrada" type="email" name="Email" value="@ViewBag.Jogador.Email">

                <select name="IdEquipe" id="IdEquipe" class="campo-entrada" id="equipe-select">
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        @if (equipe.IdEquipe == @ViewBag.Jogador.IdEquipe)
                        {
                            <option value="@equipe.IdEquipe" selected>@equipe.Nome</option>
                        }
                        else
                        {
                            <option value="@equipe.IdEquipe">@equipe.Nome</option>
                        }
                    }
                </select>
                <button type="submit">Atualizar</button>


            </form>
        }
    </section>
</main>